* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.circle__main {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__outer {
  min-height: 400px;
  min-width: 400px;
  border-radius: 50%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid red;
  position: relative;
  overflow: hidden;
}

.circle__outer div {
  height: 50%;
  width: 314px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  color: rgb(255, 255, 255);
}
.circle__outer .poly1 {
  left: 50%;
  background-color: aqua;
}
.circle__outer .poly2 {
  transform: rotate(70deg);
  background-color: rgb(0, 4, 255);
}

.circle__outer .poly3 {
  transform: rotate(140deg);
  background-color: rgb(106, 255, 0);
}

.circle__outer .poly4 {
  transform: rotate(210deg);
  background-color: rgb(80, 0, 0);
}

.circle__outer .poly5 {
  transform: rotate(280deg);
  background-color: rgb(255, 121, 121);
}
.spinBtn {
  position: absolute;
  z-index: 99;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: 1px 2px 5px 1px rgb(255, 255, 255);
  transition: 0.2s ease;
}
.spinBtn:active {
  transform: scale(1.05);
}
